{% extends "layout.html" %}

{% block title %}
    CourseExplorer
{% endblock %}

{% block main %}
    <form action="/courseexplorer" method="post">
        <div class="form-group">
            <select class="form-control" name="ConcentrationName">
                <option disabled selected value="">Concentration Name</option>
                {% for concentration in concentrations %}
                    <option>{{concentration}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-outline-danger" type="submit">Submit</button>
        <br>

    <body>
      <br>
      {% if concentrationname %}
      Your concentration is {{concentrationname}}. There are {{numCourses}}+ courses that count toward requirements (not including electives).
      {% endif %}
      <br>
    </body>
    <br>

    <div class="container">
      <div class="row">

          {% for course in courses %}
          <div class="card text-center" draggable="true" ondragstart="dragUser(this, event)">
            <div class="card card-body undo" style="background: #FEFFFF; width: 100%; margin: 0px"  >

              <h6 class="card-title" onclick="description()" id= {{ course.code }} style = "margin: 0px"> {{course.code}} </h1>
		          <p class="card-text" style = "font-size: 14px; margin: 0px"  > {{course.name}} </p>
              <p class="card-text" style = "font-size: 14px; margin: 0px" > {{course.instructor}} </p>
              <p class="card-text" style = "font-size: 14px; margin: 0px" > {{course.dayTime}}  </p>
              {% if course.website %}
              <p class="card-text" style = "font-size: 14px; margin: 0px"> <a target="_blank" href= {{ course.website }}>Course Website</a></p>
              {% endif %}
              <details>
                <summary>Details</summary>
                {{ course.description }}
              </details>
            </div>
          </div>
            <br>
          {% endfor %}
          {% for exception in exceptions %}
            <div class="card text-center" draggable="true" ondragstart="dragUser(this, event)" >
              <div class="card card-body undo" style="background: #FEFFFF; width: 100%; margin: 0px" contenteditable="true">
                <h6 class="card-title" style = "margin: 0px"> Elective </h1>
		            <p class="card-text" style = "font-size: 14px; margin: 0px"  > {{exception.course_code}} </p>
              </div>
            </div>
            <br>
            {% endfor %}

      </div>
    </div>

    </form>
{% endblock %}
