{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<body>

<h5>Register and Login</h5>
<p>You should be able to register at the top right! Make sure that your passwords match.
To log in, used the same username/password combo that you registered with.</p>
<br>
<h5>Course Explorer</h5>
<p>
    Here, you can explore the courses that count for a particular concentration. Simply choose a concentration you are interested in, hit submit, and the courses that count for that concentration will appear!
    To choose another concentration, refresh the page.
</p>
<br>
<h5>Schedule</h5>
<p>
    Here, you can plan out when to take the courses for your concentration!
    Select your concentration, and all courses required for that concentration will be returned. Each of the blocks are draggable and droppable, and thus you can place them into the handy four-year table to the right!
    Note that for some requirements, multiple courses can be used to satisfy the same requirement. To customize this, you can toggle to the "customize" tab on each course, where you can type in which course you want to take.
    Note that you can also shuffle blocks around the schedule table.
</p>
<h5>Be sure to take a screenshot of your newly organized four-year plan! Thanks for using your.harvard!</h5>

</body>
{% endblock %}
