{% extends "layout.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}
    <form action="/schedule" method="post">
      <div class="form-group">
        <select class="form-control" name="ConcentrationName">
          <option disabled selected value="">Concentration Name</option>
            {% for concentration in concentrations %}
              <option>{{concentration}}</option>
            {% endfor %}
        </select>
      </div>
      <button class="btn btn-outline-danger" type="submit">Submit</button>
      <br>
      <body>
        <br>
        Your concentration is {{concentrationname}}, which has {{numreq}} requirements.
      </body>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-auto">
            {% for course in courses %}
            <div class="card text-center" draggable="true" ondragstart="dragUser(this, event)" >
              <div class="card card-body undo" style="background: #FEFFFF; width: 100%; margin: 0px" contenteditable="true">
                <h6 class="card-title" style = "margin: 0px"> {{course.code}} </h1>
		            <p class="card-text" style = "font-size: 14px; margin: 0px"  > {{course.name}} </p>
                <p class="card-text" style = "font-size: 14px; margin: 0px"> {{course.instructor}} </p>
                <p class="card-text" style = "font-size: 14px; margin: 0px"> {{course.dayTime}}  </p>
                {% if course.duration != "N/A" %}
                <p class="card-text" style = "font-size: 14px; margin: 0px"> Duration: {{course.duration}} hours  </p>
                {% else %}
                <p class="card-text" style = "font-size: 14px; margin: 0px"> Duration: N/A  </p>
                {% endif %}
              </div>
              <div class="card-footer">
                {% if course.website %}
                <p class="card-text" style = "font-size: 14px; margin: 0px"> <a target="_blank" href= {{ course.website }}>Course Website</a></p>
                {% endif %}
              </div>
            </div>
            <br>
            {% endfor %}
            {% for exception in exceptions %}
            <div class="card text-center" draggable="true" ondragstart="dragUser(this, event)" >
              <div class="card card-body undo" style="background: #FEFFFF; width: 100%; margin: 0px" contenteditable="true">
                <h6 class="card-title" style = "margin: 0px"> Elective </h1>
		            <p class="card-text" style = "font-size: 14px; margin: 0px"  > {{exception.course_code}} </p>
              </div>
            </div>
            <br>
            {% endfor %}

          </div>

          <div class="col">
            <div class = "container" style="background: #FFCCBC; width: 100%">
              <div class = "row">
                <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>First-Year Fall</p>
                </div>
                <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>First-Year Spring</p>
                </div>
              </div>
              <div class = "row">
                <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>Sophomore Fall</p>
                </div>
                <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>Sophomore Spring</p>
                </div>
              </div>
              <div class = "row">
                <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>Junior Fall</p>
                </div>
                <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>Junior Spring</p>
                </div>
              </div>
              <div class = "row">
                <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>Senior Fall</p>
                </div>
                <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>Senior Spring</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
{% endblock %}
