{% extends "layout.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}
    <form action="/schedule" method="post">
        <div class="form-group">
            <select class="form-control" name="ConcentrationName">
                <option disabled selected value="">Concentration Name</option>
                {% for concentration in concentrations %}
                    <option>{{concentration}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-dark" type="submit">Submit</button>
        <br>

    <body>
      Your concentration is {{concentrationname}}
      <br>
    </body>

    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          {% for course in courses %}
            <div class="card card-body undo" draggable="true" style="background: #FEFFFF; width: 100%" ondragstart="dragUser(this, event)" >
              <h6 class="card-title"> {{course.code}} </h1>
              <p class="card-text" style = "font-size: 14px" > {{course.name}} </p>
              <p class="card-text" style = "font-size: 14px" > {{course.instructor}} </p>
              <p class="card-text" style = "font-size: 14px" > {{course.time}} </p>
            </div>
            <br>
          {% endfor %}
        </div>
        <div class="col ">
          <div class = "container" style="background: #DEF2F1; width: 100%">
            <div class = "row">
              <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>First-Year Fall</p>
                  <br>
                  <br>
              </div>
              <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <br>
                  <p>First-Year Spring</p>
                  <br>
                  <br>
              </div>
            </div>
            <div class = "row">
              <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <p>Sophomore Fall</p>
                  <br>
              </div>
              <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <p>Sophomore Spring</p>
                  <br>
              </div>
            </div>
            <div class = "row">
              <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <p>Junior Fall</p>
                  <br>
              </div>
              <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <p>Junior Spring</p>
                  <br>
              </div>
            </div>
            <div class = "row">
              <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <p>Senior Fall</p>
                  <br>
              </div>
              <div class = "col" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
                  <p>Senior Spring</p>
                  <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
{% endblock %}
